
body{
    text-align: center;
    align-items: center;
    background-image:url("https://i.pinimg.com/originals/39/2a/1b/392a1b1c485e2797074b9b62d8be514a.gif");
    display: flex;
    flex-flow: column wrap;
}

h2 {
    font-family: "Times New Roman", Helvetica, sans-serif;
    color: palevioletred;
    text-shadow:pink 5px 6px 3px;
        text-align: center;
        margin: 60px 0;
        font-size: 52px;
}
button {
    align-items: center;
    width: 100px;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 4px gray;
    margin: 50px;
    border-radius: 30px;
}
button:hover {
    background:pink;
  }

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }
  
